* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .item {
    width: 200px;
    height: 200px;
    background-color: blue;
  
}
.item-2 {
    position: absolute;
    background-color: orange;
    left: 40px;
    top: 40px;
    z-index: -1;
}
.item-3 {
    background-color: silver;
    background-color: transparent;
    background-color: rgba(red, green, blue, alpha);
    opacity: 0.5;
} */
header {
    background-color: gray;
    position: fixed;
    width: 100%;
    top: 0;
}
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}
a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
section {
   
    height: 100vh;
}
#red {
    margin-top: 70px;
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}